---
import Layout from "~/layouts/Layout.astro";
import Card from "~/lib/components/tmp/card01.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>hello world</h1>
  </main>
</Layout>

<style></style>
