---
import HelloWorldSvelte from "~/lib/components/hello-world.svelte";
import Main from "~/layouts/main.astro";
---

<Main title="home">
  <HelloWorldSvelte />
</Main>

<style></style>

<!-- title="Welcome to Astro." -->
